.pr{
    
     text-align: center;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0px 4px 15px black;
    font-family: "Outfit", sans-serif;
}

.pr span{
    color: rgb(74, 108, 255);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: 40px auto;
  padding: 10px;
}

.card {
  display: block;
  background: white;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.25s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.card:hover img {
  outline: 3px solid #2563eb;
}

.card {
  text-decoration: none;
}

.baixo{
    padding: 40px;
    background-color: rgb(40, 40, 40);
    color: white;
}

.baixo p a{
    color: darkcyan;
}